.App {
  overflow: hidden;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #111636 1.18%, rgba(233, 236, 238, 0.4) 100%);
  color: rgb(238, 238, 238);
  padding: 15px;
}

.search--it{
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  display: block;
  margin: 0 auto;
}

.trending {
  text-align: center;
  font-style: italic;
  color: rgb(88, 4, 8);
}

.carousel--title{
  text-align: left;
  padding-left: 25px;
}

.show--image{
  width: 250px;
  height: 250px;
}